{% extends 'base.html.twig' %}

{% block body %}

    {% if form.vars is defined %}
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-warning text-center" role="alert">
                {{ error.message|trans }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card" id="form">

        <div class="card-header">
            <strong>{{ 'cardTitleContact'|trans }}</strong>
        </div>

        {{ form_start(form) }}

        <div class="card-body">

            {{ form_row(form) }}

        </div>

        <div class="card-footer">

            <a role="button" href="{{ path('app_homepage') }}" class="btn btn-danger"><i class="fas fa-times"></i> {{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-success">{{ 'submit'|trans }} <i class="fas fa-check"></i></button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}