<!doctype html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>

        <style>
            .jumbotron
            {
                background-color: #d7f0db;
                text-align: center;
            }
            .logo
            {
                text-align: center;
            }
        </style>

    </head>

    <body>

        <div class="logo">
            <img src="{{ logo }}" alt="Musee Logo">
        </div>

        <div>
            <p class="lead">{{ 'commandNumber'|trans }}: {{ order.orderNumber }}</p>
            <p class="lead">{{ 'user.mail'|trans }}: {{ order.mail }}</p>
            <h2>{{ 'virtualTicketHeader'|trans }}</h2><br/>
        </div>

        {% for ticket in tickets %}
            <div class="jumbotron">
                <h1><strong><mark>{{ 'Louvre'|upper }}</mark></strong></h1>
                <h2>{{ 'Musée'|upper }} {% if order.duration is same as(true) %}{{ 'day'|trans|upper }}{% else %}{{ 'halfDay'|trans|upper }}{% endif %}</h2>
                <h3>DATE: {{ order.date|date("d/m/y") }}</h3>
                <p>{{ 'ticketDesc'|trans|upper }}<br/>{% if order.duration is same as(true) %}{{ 'durationDayDesc'|trans|upper }}{% else %}{{ 'durationHalfdayDesc'|trans|upper }}{% endif %}</p>

                <h2>{{ ticket.ticketPrice|number_format(2, ',', ' ') }} €</h2><h4>{{ ticket.lastname|upper }} {{ ticket.firstname|upper }}</h4>

                <p class="text-muted">
                    <small>{{ ticket.ticketNumber }}</small>
                </p>
            </div>
            <br/>

        {% endfor %}

    </body>

</html>