{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset('js/datePicker.js') }}"></script>

{% endblock %}

{% block body %}

    {% if test is defined %}

        {{ dump(test) }}

    {% endif %}

    {% if dates is defined %}

        {% for date in dates %}
            <table>
                <tr>
                    <td>
                        Id :
                        {{ date.id }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Date :
                        {{ date.date|date('D, d M Y H:i:s')}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Avalaible places :
                        {{ date.count }}
                    </td>
                </tr>
        {% endfor %}
        </table>

    {% endif %}

    {% if dateForm is defined %}

        {{ form_start(dateForm) }}
            {{ form_widget(dateForm) }}
        {{ form_end(dateForm) }}

    {% endif %}

    {% if priceform is defined %}

        {{ form_start(priceform) }}
        {{ form_widget(priceform) }}
        {{ form_end(priceform) }}

    {% endif %}

{% endblock %}