{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset('js/datePicker.js') }}"></script>

{% endblock %}

{% block body %}

    {% if progress is defined %}
        <div class="progress">
            <div class="progress-bar bg-{{ progress.type }}" role="progressbar" style="width: {{ progress.value/3*100 }}%" aria-valuenow="{{ progress.value/3*100 }}" aria-valuemax="100">{{ progress.message }}</div>
        </div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if test is defined %}

        {{ dump(test) }}

    {% endif %}

    <div class="form-group">

    {% if form is defined %}

        {{ form_start(form) }}
            {{ form_row(form, {'label': false}) }}
            {{ form_row(priceform, {'label': false}) }}
        {{ form_end(priceform) }}

    {% endif %}

    <div>

{% endblock %}