{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wizard.js') }}"></script>

{% endblock %}

{% block body %}

    {% if progress is defined %}
        <div class="progress">
            <div class="progress-bar bg-{{ progress.type }}" role="progressbar" style="width: {{ progress.value/3*100 }}%" aria-valuenow="{{ progress.value/3*100 }}" aria-valuemax="100">{{ progress.message }}</div>
        </div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="card" id="form">
{{ form_start(form) }}

    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ form_row(form.date.date) }}</li>
            <li class="list-group-item">{{ form_row(form.date.duration) }}</li>
        </ul>

{% if data is defined %}

        <ul class="tickets list-group list-group-flush" data-prototype="{{ form_widget(form.ticketCollection.vars.prototype)|e('html_attr') }}">
            {% for ticket in form.ticketCollection %}
                <li class="list-group-item">{{ form_row(ticket) }}</li>
            {% endfor %}
        </ul>

    {% endif %}

    </div>

        <div class="card-footer">
            {% if data is defined %}
            <button type="submit" class="btn btn-primary">{% trans %}order.previous_step{% endtrans %}</button>
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans %}order.next_step{% endtrans %}</button>
        </div>
    </div>

{{ form_end(form) }}

{% endblock %}