{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wizard.js') }}"></script>

{% endblock %}

{% block body %}

    {% if progress is defined %}
        <div class="progress">
            <div class="progress-bar bg-{{ progress.type }}" role="progressbar" style="width: {{ progress.value/3*100 }}%" aria-valuenow="{{ progress.value/3*100 }}" aria-valuemax="100">{{ progress.message }}</div>
        </div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

{{ form_start(form) }}
    <ul class="tickets">
        {% for ticket in form.orderNumber %}
            <li>{{ form_row(ticket) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

{% endblock %}