{% extends 'Order/order.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/Stripe.js') }}"></script>

{% endblock %}

{% block form %}

    <div class="card-body">

        <br/>
        <h4 class="text-center">
            {% if order.duration %}
                <strong>{% trans %}day{% endtrans %}</strong>
            {% else %}
                <strong>{% trans %}halfDay{% endtrans %}</strong>
            {% endif %} {% trans %}of{% endtrans %}
            {{ date }}
        </h4>
        <br/>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans %}ticketNumber{% endtrans %}</th>
                    <th scope="col">{% trans %}user.name{% endtrans %}</th>
                    <th scope="col">{% trans %}user.firstname{% endtrans %}</th>
                    <th scope="col">{% trans %}reducedPrice{% endtrans %}</th>
                    <th scope="col">{% trans %}price{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <th scope="row">{{ ticket.ticketNumber }}</th>
                        <td>{{ ticket.lastname|capitalize }}</td>
                        <td>{{ ticket.firstname|capitalize }}</td>
                        <td>{% if ticket.reducedprice is same as(true) %}<i class="far fa-check-square"></i>{% endif %}</td>
                        <td>{{ ticket.ticketPrice|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex align-items-end flex-column">
            <h6>{% if order.duration %}{% else %}{% trans %}halfDayDiscount{% endtrans %}{% endif %}</h6>
            <h5>{% trans %}totalPrice{% endtrans %}: {{ order.orderPrice|number_format(2, ',', ' ') }} €</h5>
        </div>

        <form action="{{ path('app_charge') }}" method="post" id="payment-form">
            <div class="form-group card text-white bg-info mx-auto" style="max-width: 32rem;">
                <div class="card-header text-center">
                    {% trans %}card{% endtrans %}
                </div>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert">
                </div>
            </div>
        </form>

    </div>

    <div class="card-footer">

        <a role="button" href="{{ path('app_previous') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {% trans %}order.previousStep{% endtrans %}</a>
        <button form="payment-form" type="submit" class="btn btn-success"><i class="fas fa-shopping-cart"></i> {% trans %}order.payment{% endtrans %} {{ order.orderPrice|number_format(2, ',', ' ') }} €</button>
    </div>


{% endblock %}