{% extends 'Order/order.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('[data-toggle="popover"]').popover();
        let translations;
        translations = {
            'addTicket': '<i class="fas fa-plus"></i> {% trans %}addTicket{% endtrans %}',
            'removeTicket': '<i class="fas fa-trash-alt"></i> {% trans %}removeTicket{% endtrans %}'
        };
    </script>
    <script src="{{ asset('js/wizard_embed.js') }}"></script>

{% endblock %}

{% block form %}

    {{ form_start(form) }}

        <div class="card-body">

            {% if form.vars is defined %}
                {% for error in form.vars.errors.form.getErrors(true) %}
                    <div class="alert alert-warning text-center" role="alert">
                        {{ error.message|trans }}
                    </div>
                {% endfor %}
            {% endif %}

            {% for flash in app.flashes('errorTicket') %}
                <div class="alert alert-info text-center" role="alert">
                    {{ flash|trans }}: {{ app.session.get('nbTickets') }}
                </div>
            {% endfor %}

            <ul class="tickets list-group list-group-flush" data-prototype="{{ form_widget(form.ticketCollection.vars.prototype)|e('html_attr') }}">
                {% for ticket in form.ticketCollection %}
                    <li class="list-group-item">{{ form_row(ticket) }}</li>
                {% endfor %}
            </ul>

            <div><br/>
                <button type="button" class="btn btn-info" data-toggle="popover" title="{{ 'reducedPrice'|trans }}" data-content="{{ 'reducedPriceBenefits'|trans }}"><i class="fas fa-info"></i> {{ 'whoReducedPrice'|trans }}</button>
            </div>
        </div>

            <div class="card-footer">
                <a role="button" href="{{ path('app_previous') }}" class="btn btn-primary"><i class="fas fa-angle-double-left"></i> {% trans %}order.previousStep{% endtrans %}</a>
                <button type="submit" class="btn btn-primary">{% trans %}order.nextStep{% endtrans %} <i class="fas fa-angle-double-right"></i></button>

    {{ form_end(form) }}

            </div>

{% endblock %}