{% extends 'base.html.twig' %}

{% block body %}

    {{ dump() }}

    {% if progress is defined %}
        <div class="progress">
            <div class="progress-bar bg-{{ progress.type }}" role="progressbar" style="width: {{ progress.value/3*100 }}%" aria-valuenow="{{ progress.value/3*100 }}" aria-valuemax="100">{{ progress.message }}</div>
        </div>
    {% endif %}

    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success text-center">
            {{ msg }}
        </div>
    {% endfor %}

    {% if form.vars is defined %}
        {% for error in form.vars.errors.form.getErrors(true) %}
            <div class="alert alert-warning text-center" role="alert">
                {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card" id="form">

        <div class="card-header">
            {% if cardtitle is defined %}
                <strong>{{ cardtitle|trans }}</strong>
            {% endif %}
            {% if cardtitle == 'card_title_confirm'%}
                --- {% trans %}commandnumber{% endtrans %}: {{ order.ordernumber }}
            {% endif %}
        </div>

        {% block form %}

            {% if form.date is defined %}
                {{ include('Order/_date.html.twig') }}
            {% endif %}

            {% if form.duration is defined %}
                {{ include('Order/_duration.html.twig') }}
            {% endif %}

            {% if form.ticketCollection is defined %}
                {{ include('Order/_price.html.twig') }}
            {% endif %}

            {% if form.confirm is defined %}
                {{ include('Order/_mail.html.twig') }}
            {% endif %}

        {% endblock %}

    </div>

{% endblock %}